@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{ box-sizing: border-box; font-family: 'Poppins', 'Nanum Gothic', sans-serif;}
html, body{ margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0;}
ul, ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none;}

section{ 
    width: 100%; height: 100vh;
    background: linear-gradient(to bottom, #0cf 0%, #fc1 100%);
    position: relative;
}
section .wrap{ 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
section .wrap .top_icon{ 
    padding-bottom: 40px;
}
section .wrap .top_icon a{ 
    color: #fff; font-size: 80px;
}

section .wrap h2{ 
    padding-bottom: 80px;
    font-size: 24px; color: #fff;
}
section .wrap p{ 
    font-size: 14px; color: #fff;
    font-style: italic;
}