@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{ box-sizing: border-box; font-family: 'Poppins', 'Nanum Gothic', sans-serif;}
html, body{ margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0;}
ul, ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none;}


/* 사용자 설정 */
#user_select{ text-align: center;}
#user_select h2{ 
    padding: 20px 0;
    background-color: #0a8ca8;
    color: #fff; line-height: 1;
    font-size: 24px;
}
#user_select .cities{ 
    padding: 20px 0 10px;
    display: flex; flex-wrap: wrap;
    justify-content: center;
}
#user_select .cities button{ 
    margin: 0 5px 10px; padding: 8px 16px;
    background-color: #0a8ca8;
    border: 1px solid #0a8ca8;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
#user_select .cities button:hover, 
#user_select .cities button:active{
    background-color: #fff;
    color: #0a8ca8;
}
#user_select .search{ 
    width: 100%; max-width: 400px; 
    margin: 0 auto; margin-bottom: 20px;
    border: 1px solid #0a8ca8;
    border-radius: 4px;
    display: flex; flex-wrap: wrap;
    overflow: hidden;
}
#user_select .search input{ 
    width: calc(100% - 120px); height: 40px;
    padding: 0 10px;
    border: none;
    color: #0a8ca8;
    outline-color: #2c9eb9;
}
#user_select .search button{ 
    width: 120px; height: 40px;
    border: none;
    background-color: #0a8ca8;
    color: #fff; 
    outline-color: #2c9eb9;
    cursor: pointer;
}





/* 날씨 리스트 */
#weather{
    width: 1200px;
    margin: 0 auto; padding: 20px 0 0;
    background-color: #ebefef;
 }
#weather ul{ 
    display: flex; flex-wrap: wrap;
    justify-content: center;
}
#weather ul li{ 
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#weather ul li .top{ 
    padding: 20px 0;
    background-color: #0a8ca8;
    display: flex;
    align-items: center;
    color: #fff;
}
#weather ul li .top > div{
    width: 50%;
    padding: 0 20px;
}
#weather ul li .top .cur_icon{ 
    font-size: 60px;
    text-align: center;
}
#weather ul li .top .info{ text-align: right;}
#weather ul li .top .info .temp{ font-size: 16px;}
#weather ul li .top .info .temp .degree{ font-size: 24px;}

#weather ul li .top .info .inter_temp{ font-size: 13px;}
#weather ul li .top .info .inter_temp span{ font-size: 15px;}
#weather ul li .top .info h4{ font-size: 24px;}
#weather ul li .top .info .location{ font-size: 14px;}
#weather ul li .top .info .location .city{ }

#weather ul li .bottom{ 
    padding: 16px 0 8px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
#weather ul li .bottom > div{ 
    width: calc(100% / 3 - 20px);
    text-align: center;
    font-size: 14px; color: #555;
}
#weather ul li .bottom > div > i{ 
    font-size: 18px; color: #0a8ca8;
}
#weather ul li .bottom > div > p{ 
    line-height: 1.8;
}

@media (max-width: 1199px){
    #weather{ width: 100%;}
}
@media (max-width: 991px){
    #weather ul li{ width: calc(100% / 2 - 20px);}
}
@media (max-width: 767px){
    #weather ul li{ width: calc(100% - 20px);}
}
@media (max-width: 420px){
    #user_select .search{ width: calc(100% - 20px);}
}


